/aws/cli/cache/
/aws/mfa-credentials-temp-*
/aws/sso/cache/
/karabiner/karabiner/automatic_backups/
/vim/.vim/bundle/
/Sublime Text/Library-Application Support-Sublime Text-Packages-User/SublimeLinter/*.tmtheme
